body {
	font-family: "Montserrat", sans-serif !important;
	width: 100%;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.yellowColor {
	color: #ffbe0f;
}

.blueColor {
	color: #14274e;
}

/* NAVBAR */
.navbar {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
	padding: 0px 30px;
}

.nav-item {
	padding: 0px 30px;
}

.nav-item a {
	color: #14274e !important;
	font-weight: 600;
}

.navbar-title {
	width: 200px;
	height: auto;
}

.navbar-nav {
	float: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	/* justify-content: center; */
}

.search {
	justify-content: center;
}

/* CONTACT */
#contact {
	padding: 80px 0px;
	position: relative;
	/* min-height: 110vh; */
	width: 100%;
	z-index: 2;
}

.contactContent {
	position: relative;
	z-index: 2;
}

#contact:before {
	content: "";
	display: block;
	background-image: url(Assets/contactus_image.jpg);
	transform: rotateY(180deg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.6;
	z-index: 1;
}

.signUp {
	background-color: #14274e;
	color: white;
	padding: 30px;
	width: 70%;
	height: 100%;
	float: left;
	font-size: small;
}

.contactUs {
	width: 70%;
	height: 100%;
	float: right;
}

.form-check input[type="radio"] {
	float: none;
	margin-left: 5px;
}

.smallText {
	font-size: x-small;
}
.signMeUpBtn {
	width: 100%;
	color: white !important;
}

.terms:hover {
	cursor: pointer;
}

.inputBox {
	resize: none;
	height: 45px;
	border-radius: 1px !important;
}
.textBox {
	resize: none;
	border-radius: 1px !important;
}

.contactUs h2,
p {
	font-weight: 900;
}

.robot {
	background-color: white;
	padding: 10px 15px;
	width: 50%;
}

::-webkit-input-placeholder {
	font-size: small;
	text-align: left;
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: left;
	font-size: small;
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: left;
	font-size: small;
}

:-ms-input-placeholder {
	text-align: left;
	font-size: small;
}

.contactInfo {
	background-color: white;
	padding: 20px 20px;
}

.contactInfo h3 {
	font-weight: 900;
	font-size: x-large;
	padding-bottom: 20px;
}

.address {
	float: left;
	width: 70%;
}
.phoneEmail {
	float: right;
	width: 70%;
}

.addressInfo,
.phoneInfo {
	font-size: medium;
	line-height: 11px;
}

/* STAY UP TO DATE */
#stayUpToDate {
	padding: 60px 50px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#stayUpToDate h1 {
	font-style: italic;
	font-size: xx-large;
	font-weight: 900;
	padding-bottom: 15px;
}

.socialLinks {
	/* padding: 0px 50px; */
	width: 100%;
}

.socialImages {
	width: 150px;
	height: auto;
	padding: 10px 40px;
}

.socialImages:hover {
	cursor: pointer;
}

/* MAP */
#map {
	background-image: url(Assets/map.jpg);
	background-size: cover;
	background-position: center;
	background-color: #cccccc;
	background-repeat: no-repeat;
	min-height: 70vh;
	max-width: 100%;
	height: auto;
}

/* FOOTER */
footer {
	background-color: #14274e;
	color: white;
	padding: 40px 0px;
	position: relative;
	width: 100%;
}

.footerContact {
	background-color: #ffbe0f;
	color: #14274e;
	margin-bottom: 40px;
	padding: 5px 120px !important;
	position: absolute;
	left: 0;
	width: 60% !important;
	text-align: left;
}

.footerContact h4 {
	font-weight: bolder;
}

.footerContact p {
	padding-left: 90px;
	/* line-height: 10px; */
	font-weight: normal;
}

.contactMission {
	position: relative;
	padding-top: 250px;
}

/* .contactMission {
	padding-top: 20px;
} */
.contactMission h3 {
	padding-bottom: 20px;
}

.contactMission p {
	font-weight: normal;
	line-height: 20px;
}

.contactMission p:hover {
	cursor: pointer;
}

.mailingList {
	padding-top: 40px;
}

.line {
	border-top: 2px solid #ffbe0f;
	border-radius: 30px;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 30px;
}

.subscribe {
	border-radius: 30px !important;
	padding: 10px 50px !important;
	color: #14274e;
	font-style: italic;
	font-weight: bolder !important;
	margin-bottom: 40px;
}

.mailingImg {
	width: 60px;
	height: auto;
	padding: 5px;
}

.mailingImg:hover {
	cursor: pointer;
}

/* RESPONSIVE */

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 992px) {
	.contactUs,
	.signUp {
		float: none;
	}

	.contactUs {
		margin-top: 50px;
	}

	.footerContact {
		margin-bottom: 0px;
		padding: 5px 10px;
		position: relative;
		width: 100%;
		text-align: left;
	}

	.footerContact p {
		padding-left: 10px;
		/* line-height: 10px; */
		text-align: center;
	}

	.contactMission {
		padding-top: 20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	/* contacts */
	.contactInfo {
		margin: 0 auto;
	}
	.address,
	.phoneEmail {
		float: none;
		padding-bottom: 20px;
	}

	.footerContact p {
		padding-left: 10px;
		word-wrap: break-word;
	}

	/* footer */
	.contactMission {
		text-align: center;
	}
	.contLinks {
		padding-bottom: 20px;
	}
}
